@import "tailwindcss";

@theme {
  --color-gold-500: #D4AF37;
  --color-gold-600: #C5A028;

  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;

  --animate-fade-in: fadeIn 0.5s ease-in-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@layer base {
  body {
    @apply bg-zinc-950 text-white antialiased;
  }
}